<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:beans="http://www.springframework.org/schema/beans"

	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http>
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')"/>
		<!-- <form-login login-page="/loadLoginPg" default-target-url="/welcome" authentication-failure-url="/invalid-login" authentication-failure-handler-ref="customFilterHandler" />
		<logout logout-success-url="/welcome"/> -->
				<http-basic/>
		
		<custom-filter after="BASIC_AUTH_FILTER" ref="myFilter"/>
	</http>
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
	 
</beans:beans>

